@model List<CatalogItem>
@{
    
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Lesflix</h1>
</div>
<div>
    @foreach (var cat in Model)
    {
        <div>
            <h2>@cat.Id - @cat.Name</h2>
            
        </div>
    }
</div>
